.wp-mark-as-done {
    background-color: var(--secondary-color);
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
    color: white;
    width: 49%;
}

.wp-mark-as-done div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wp-mark-as-done div p {
    margin: 6px;
}

.wp-mark-as-done div i {
    color: red;
    background-color: white;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
}

.wp-mark-as-done div i:hover {
    color: rgb(255, 92, 92);
    transition: .5s;
}

@media(max-width:923px) {
    .wp-mark-as-done {
        width: 100%;
    }
}