*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none !important;
}

:root {
    --primary-color: black !important;
    --secondary-color: #15e6d0 !important;
    --third-color: #cdfffa !important;
  }



